html {
    font-size: 50px;
}

#mobileheader {
    flex: 1;
    background: #f6f6f6;
}

#mobileheader header {
    border-bottom: 1px solid #2db7f5;
    padding-left: 0px;
}

#mobileheader header img {
    height: 50px;
}

#mobileheader header span {
    font-size: 35px;
    vertical-align: top;
    padding-left: 10px;
    color: #2db7f5;
}

#mobileheader i {
    font-size: 0.5rem;
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    color: #2db7f5;
}

section {
    background: #f6f6f6;
    width: 6.9rem
}

.m_separate {
    padding: .2rem .3rem;
    background: #f6f6f6;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5
}

.m_article {
    font-size: 14px;
    padding: .2rem 0;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 .3rem
}

.m_article .m_article_img {
    float: left;
    width: 27%;
    height: 1.4rem;
    overflow: hidden;
    position: relative;
    margin-right: .2rem
}
