body {
    /*background-image: url("http://file06.16sucai.com/2016/0825/0d40350bfe9dc80c2231e554016ca905.jpg");*/
    background-color: #ECF0F1;
}


.logo {
    align-items: center;
    display: inline-flex;
}

.logo img {
    width: 48px;
    height: 48px;
}

.logo span {
    font-size: 30px;
    padding-left: 5px;
}

/*#pc_header {*/
    /*text-align: center;*/
    /*font-size: 13px !important;*/
/*}*/

#pc_header {
    background-color: #515A5A;
}

.menu-color {
    background-color: #515A5A !important;
}

.footer {
    text-align: center;
    color:white;
}

/*.register button {*/
    /*height: 10px;*/
/*}*/

.register {
    float: right !important;
}

/*.clearfix:before,*/
/*.clearfix:after {*/
    /*content:  " ";*/
    /*display: table;*/
/*}*/

/*.clearfix:after {*/
    /*clear:both;*/
/*}*/

/*.clearfix{*/
    /*margin-top: 20px;*/
/*}*/
.container {
    padding-top: 10px;
}

.leftContainer {
    width: 400px;
    float:left;
}

.carousel {
    width: 480px;
    float: left;
}
.carousel img {
    width: 400px;
    height: 260px;
}

.topNewsList {
    float: left;
    text-align: left;
    font-size: 10px;
    margin-left: 10px;
    /*width: 300px;*/
    /*margin-top: 15px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.react {
    float: left;
    text-align: left;
    font-size: 10px;
    margin-left: 10px;
    width: 28.5%;
    /*display: inline;*/
    /*width: 100%;*/
    /*margin-top: 15px;*/

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.react li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666 !important;
}


.topNewsList a {
    line-height: 22px !important;
    color: #666 !important;

}

.topBlockList {
    float: left;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 15px;

}

.tabs_news {
    padding-left: 10px;
    width: 300px;
    float: left;
    margin-bottom: 1px !important;
}

.tabs_news li {
    height: 27px;
    line-height: 20px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    width: 417px;
    float: left;
    text-overflow: ellipsis;
}

/*image block******START*****/
.imageblock {
    float: left;
}

/*.image-top {*/
    /*padding-top: 10px;*/
/*}*/

.custom-card {
    padding: 4px;
}
.custom-image img{
    width: 80px;
}

.custom-card p {
    color: #999;
}

.register{
    float: right !important;
}